/*
 * Copyright 2025 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&sai1 {
	mclk-output;
};

dmic_dev: &dmic {
	status = "okay";
};

&gpio6 {
	status = "disabled";
};

&gpio12 {
	status = "disabled";
};
