/*
 * Copyright 2024 NXP
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "mimxrt1060_evk.dtsi"
#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/ {
	chosen {
		zephyr,flash-controller = &w25n01kv;
		zephyr,flash = &w25n01kv;
//		zephyr,code-partition = &slot0_partition;
	};

	nand_flash: memory@60000000 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x60000000 DT_SIZE_M(256)>;
		zephyr,memory-region = "NAND_FLASH";
		zephyr,memory-attr = <(DT_MEM_ARM(ATTR_MPU_FLASH))>;
	};
};

&flexspi {
	status = "okay";
	pinctrl-0 = <&pinmux_flexspi1>;
	pinctrl-names = "default";
	ahb-prefetch;
	ahb-read-addr-opt;
	rx-clock-source = <1>;
	reg = <0x402a8000 0x4000>, <0x60000000 DT_SIZE_M(256)>;
	w25n01kv: w25n01kv@0 {
		compatible = "nxp,imx-flexspi-w25n01kv";
		size = <DT_SIZE_M(256*8)>;
		reg = <0>;
		spi-max-frequency = <104000000>;
		column-space = <12>;
		status = "okay";
		jedec-id = [ef ae 21];
		erase-block-size = <131072>;
		write-block-size = <2048>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;
			storage_partition: partition@0 {
				label = "storage";
				reg = <0x0 DT_SIZE_M(128)>;
			};
		};
	};
};
