#
# Copyright 2025 NXP
#
# SPDX-License-Identifier: Apache-2.0
#

config USBH_CDC_ECM_CLASS
	bool "USB Host CDC ECM class driver"
	depends on DT_HAS_ZEPHYR_USBH_CDC_ECM_ENABLED
	select NET_L2_ETHERNET
	select NET_IPV4
	help
	  Enable USB Host CDC ECM (Ethernet Control Model) class driver.
	  This allows the system to use USB devices that implement CDC ECM
	  as network interfaces, such as smartphones, tablets, or USB-to-Ethernet
	  adapters.

if USBH_CDC_ECM_CLASS


module = USBH_CDC_ECM_CLASS
module-str = usbh cdc ecm
default-count = 1
source "subsys/logging/Kconfig.template.log_config"

endif # USBH_CDC_ECM_CLASS
