# Copyright (c) 2025 Linumiz GmbH
# Copyright 2025 NXP
#
# SPDX-License-Identifier: Apache-2.0

config USBH_CDC_ECM_CLASS
	bool "USB Communication Device Class - Ethernet Control Mode (CDC-ECM) implementation [EXPERIMENTAL]"
	depends on DT_HAS_ZEPHYR_CDC_ECM_HOST_ENABLED
	select EXPERIMENTAL
	select NET_L2_ETHERNET
	help
	  USB Host Communication Device Class - Ethernet Control Mode (CDC-ECM) implementation.

if USBH_CDC_ECM_CLASS

module = USBH_CDC_ECM
module-str = "usbh cdc_ecm"
default-count = 1
source "subsys/logging/Kconfig.template.log_config"

endif # USBH_CDC_ECM_CLASS
