# NXP KW45 Platform configuration options

# Copyright 2023 NXP
# SPDX-License-Identifier: Apache-2.0

if SOC_KW45B41Z83

config SOC
	default "kw45b41z83"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 96000000 if CORTEX_M_SYSTICK

endif # SOC_KW45B41Z83
