# Copyright (c) 2019 Vestas Wind Systems A/S
# SPDX-License-Identifier: Apache-2.0

config NVMEM_AT2X
	bool
	help
	  Enable support for Atmel AT2x (and compatible) I2C/SPI
	  EEPROMs.

config NVMEM_AT24
	bool "I2C EEPROMs compatible with Atmel's AT24 family (NVMEM)"
	default y
	depends on DT_HAS_ATMEL_AT24_ENABLED
	depends on !EEPROM_AT24
	select I2C
	select NVMEM_AT2X
	help
	  Enable support for I2C EEPROMs compatible with Atmel's AT24 family.

	  There are multiple vendors manufacturing I2C EEPROMs compatible with
	  the programming model of the Atmel AT24.

	  Examples of compatible EEPROM families:
	  - Microchip AT24xxx
	  - ST M24xxx

config NVMEM_AT25
	bool "SPI EEPROMs compatible with Atmel's AT25 family (NVMEM)"
	default y
	depends on DT_HAS_ATMEL_AT25_ENABLED
	depends on !EEPROM_AT25
	select SPI
	select NVMEM_AT2X
	help
	  Enable support for SPI EEPROMs compatible with Atmel's AT25 family.

	  There are multiple vendors manufacturing SPI EEPROMs compatible with
	  the programming model of the Atmel AT25.

	  Examples of compatible EEPROM families:
	  - Microchip AT25xxx
	  - ST M95xxx
