# Copyright 2025 NXP
# SPDX-License-Identifier: Apache-2.0

menuconfig NVMEM_DRIVER
	bool "Non-Volatile Memory (NVMEM) Driver Support"
	help
	  Non-Volatile Memory (NVMEM) driver configuration options.

if NVMEM_DRIVER

module = NVMEM_DRIVER
module-str = nvmem_driver
source "subsys/logging/Kconfig.template.log_config"

config NVMEM_DRIVER_INIT_PRIORITY
	int "NVMEM init priority"
	default KERNEL_INIT_PRIORITY_DEVICE
	help
	  NVMEM device driver initialization priority.

rsource "Kconfig.nvmem_nxp_ocotp"
rsource "Kconfig.nvmem_at2x"

endif # NVMEM_DRIVER
